<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="~/Error.aspx"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="frmLogon.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
   <!-- <add key="cnn.ConnectionString" value="Server=192.168.100.24;Database=SEPS_test;User ID=seetssql;Password=AquilesOP1;"/>
    <add key="nr_dias_edicion_registros" value="7"/>-->

    <add key="URL_ReportingServices" value="http://vhermes/ReportServer"/>
    <add key="Folder_ReportingServices" value="Informes Sistema de Perfiles"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="cnnString" connectionString="Data Source=localhost;Initial Catalog=SEPS_JR;Integrated Security=True;"/>
    <add name="SEPSConnectionString" connectionString="Data Source=localhost;Initial Catalog=SEPS_JR;Integrated Security=True;"
      providerName="System.Data.SqlClient" />

    <!--<add name="cnnString" connectionString="Data Source=10.0.0.90;Initial Catalog=SEPS_JR; Trusted_Connection=False; User Id=jramos; Password=12345678" />
	  <add name="SEPSConnectionString" connectionString="Data Source=10.0.0.90;Initial Catalog=SEPS_JR; Trusted_Connection=False; User Id=jramos; Password=12345678"
		providerName="System.Data.SqlClient" />--> 
  </connectionStrings>
</configuration>
